.hm-video-bar-option {
  padding: 10px;
  overflow: hidden;
}
.hm-video-bar-option a {
  margin: 5px;
  float: right;
  font-size: 20px;
}
.hm-video-bar-option a.disabled {
  color: #ed9e95;
  cursor: not-allowed;
}
.hm-video-bar {
  position: relative;
  margin: 10px 0 0 0;
  border: 1px solid #DDD;
  background-color: #F5F5F5;
  overflow: hidden;
    box-shadow: 0 5px 5px rgba(150, 150, 150, 0.15);
}
.hm-video {
  padding: 5px;
  border-right: 1px solid #DADADA;
  width: 200px;
  float: left;
}
.hm-video img {
  width: 100%;
}
.hm-details {
  float: left;
}
.hm-details h4, .hm-details em {
  padding-left: 5px;
}

.hm-options {
  overflow: hidden;
  padding: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.hm-sqr {
  padding: 5px;
  border: 1px solid #DADADA;
  background-color: #FBFBFB;
  float: right;
  text-align: center;
  border-radius: 5px;
  width: 100px;
  margin-left: 3px;
}
.hm-sqr p {
  font-size: 20px;
}
.hm-sqr a {
  cursor: pointer;
}
.hm-sqr span {
  font-size: 12px;
}
.hm-video-map {
  display: none;
  padding: 10px;
  background-color: #FEFEFE;
  border: 1px solid #DDD;
  border-top: 0 none;
}

/* heat map*/
.heat-map {
  margin-top: 10px;
}
.heat-map-row {
  height: 120px;
  padding-bottom: 10px;
}
.heat-map-row .cols{
  clear: both;
  float: left;
  margin: 10px 0;
  width: 100%;
  height: 50px;
  position: relative;
}
.heat-map-row .cols .heat-map-points {
  position: absolute;
  border-left: 2px dotted #444;
  height: 50px;
  bottom: 0px;
}
.heat-map-row .cols .heat-map-points.right {
  border-left: 0 none;
  border-right: 2px dotted #444;
}
.heat-map-row .cols .heat-map-points.right span {
  right: 0;
}
.heat-map-row .cols .heat-map-points span {
  position: absolute;
  bottom: -20px;
}
.heat-map-row .cols .col {
  height: 50px;
  display: inline-block;
  opacity: 1;
}
.heat-map .date {
  background:  #5AC4EB;
  color: #FFF;
  float: left;
  padding: 3px;
  font-size: 11px;
  text-align: center;
  width: 80px;
  font-weight: bold;
}
